.center {
  text-align: center;
}

span.number {
  width: 5em;
  display: inline-block;
  text-align: right;
}

span.number-label {
  font-weight: bold;
  width: 4em;
  display: inline-block;
  text-align: left;
}

table.isolate-data-entry tbody tr td.not-too-small {
  min-width: 6em;
}